footer{
    height: 200px;
    margin-top: 20px;
    padding-bottom: 9px;
    background-color: #fff;
    font-size: 12px;
}
footer span {
    margin: 0 4px;
}
.footer-hd,.footer-bd,.footer-ft{
    width: 1190px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.footer-hd{
    padding-top: 7px;
    border-top: 1px solid #ddd;
}
.footer-hd p{
    margin-bottom: 8px;
    line-height: 27px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    overflow: hidden;
}
.footer-hd p span{
    margin: 0 4px;
    color: #9c9c9c;
}
.footer .footer-hd a, .footer .footer-bd a {
    white-space: nowrap;
    color: #6c6c6c;
    text-decoration: none;
}
footer b{
    margin: 0 3px;
    font-weight: 400;
    color: #ddd;
}
footer a:hover{
    color: #ff5000
}
